.dashboard-card{
    background:#fff;
    border-radius:16px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    padding:22px 28px;
    min-height:100px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.dashboard-card:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 24px rgba(0,0,0,.12);
}

.dashboard-card h3{
    color:#6B7280;
    font-size:20px;
    margin-bottom:15px;
    font-weight:500;
    text-align:center;
}

.dashboard-card h1{
    color:#2563EB;
    font-size:45px;
    font-weight:700;
}

@media(max-width:992px){
    .dashboard-card{
        width:260px;
        min-height:260px;
    }

    .dashboard-card h1{
        font-size:38px;
    }
}

@media(max-width:768px){
    .dashboard-card{
        width:100%;
        max-width:100%;
        min-height:120px;
        padding:20px 24px;
    }

    .dashboard-card h3{
        font-size:17px;
        margin-bottom:8px;
    }

    .dashboard-card h1{
        font-size:36px;
    }
}

@media(max-width:480px){
    .dashboard-card{
        width:100%;
        min-height:110px;
        padding:18px 20px;
    }

    .dashboard-card h3{
        font-size:16px;
        margin-bottom:6px;
    }

    .dashboard-card h1{
        font-size:32px;
    }
}